body {
  min-height: 100vh;
  background-color: #eaeaea;
  background-size: 200%;
  background-image: linear-gradient(102.4deg, rgb(156, 204, 248), rgb(174, 78, 190) 100.3%);
  animation: gradient-animation 5s infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
